#ani{
    border: 1px black solid;
    margin-left: 380px;
    margin-right: 380px;
    background-image: linear-gradient(#ff0000,#00ff00);
    border-radius: 5px;
    font-size: 15px;
}





#div1{
    border: 1px solid blue;
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.icon{
    border: 1px solid blue;
    border-radius: 5px;
    background-color:#CDC2AE;
     box-shadow: 3px 3px 7px grey;
     padding-left: 10px;
     padding-right: 10px;
     font-size: 15px;

}
body{
    background-image: url(stunning_macbook_space_horsehead_nebula_hd_macbook-2560x1440.jpg);
margin-left: 0px;
margin-right: 0px;
background-size: cover;
background-attachment: scroll;
background-repeat: repeat;
backface-visibility: hidden;
}
#sumbit{
    border: black 1px solid;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;

}
#submit:hover{
    background-color: #9CFF2E;
    box-shadow: 3px 3px 7px rgba(247, 245, 245, 0.923);
}
#Home{
    border: 1px #6528F7 solid;
    border-radius: 100%;
    margin-left: 520px;
    width: 60px;
    height: 25px;
    background-color:#BEADFA ;
    padding-left: 10px;
    font-size: 20px;
    padding-top: -20px;
}
#Home:hover{
    background-color: #9CFF2E;
    box-shadow: 3px 3px 7px rgba(247, 245, 245, 0.923);
}
a{
    text-decoration: none;
}